<div class="text-center py-6">
  <div>
    <h2 class="text-3xl font-bold">
      Projects
    </h2>
  </div>

  <div class="flex flex-row flex-wrap justify-center">
    {{#each collections.project}}
      <div class="carousel-item m-5">
        <a href="{{this.url}}">
          <div class="card w-96 bg-base-100 shadow-xl">
            <figure>
              <img
                src="{{this.data.feature_image}}"
                alt="feature_image"
                class="w-full h-52 object-cover"
                loading="lazy"
              />
            </figure>
            <div class="card-body">
              <div class="h-40 overflow-hidden">
                <h2 class="card-title">
                  {{this.data.title}}
                </h2>
                <p class="h-3"></p>
                <p class="h-3"></p>
                <p>
                  {{this.data.excerpt}}
                </p>
              </div>
              <div class="card-actions justify-end">
                <a href="{{this.url}}" class="btn btn-primary">
                  Continue Reading
                </a>
              </div>
            </div>
          </div>
        </a>
      </div>
    {{/each}}
  </div>
</div>